services:
  app:
    build: .
    image: docker-go-app:dev
    container_name: docker-go-app
    environment:
      APP_PORT: "8080"
      # DATABASE_URL: "postgres://user:pass@postgres:5432/appdb?sslmode=disable"
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:16-alpine
    container_name: app-postgres
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
